body {
  /*padding: 50px;*/
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
  /*padding-left: 100px;*/
  /*max-width: 500px;*/
  /*margin: auto;*/
  background-color: #dfcdb6;
  text-align: center;
}

a {
  color: #00B7FF;
}
